.offer {
  padding: 55px 0;

  @include maxw($md) {
    padding: 35px 0;
  }

  &__title {
    margin: 0 0 10px 0;
  }

  &__subtitle {
    margin: 0 0 75px 0;

    @include maxw($md) {
      margin: 0 0 40px 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include maxw($md) {
      display: block;
    }
  }
 
  &__item {
    flex: 1 0 45%;
    position: relative;
    padding-left: 65px;
    margin: 25px 10px;

    @include maxw($md) {
      margin: 25px 0;
    }

    &::before {
      position: absolute;
      content: '';
      width: 54px;
      height: 50px;
      left: 0;
      top: 0;
    }
  }

  &__item:first-child {

    &::before {
      background-image: url('../../images/offer/1.png');
      background-repeat: no-repeat;
    }
  }

  &__item:nth-child(2) {
    
    &::before {
      background-image: url('../../images/offer/2.png');
      background-repeat: no-repeat;
    }
  }

  &__item:nth-child(3) {
    
    &::before {
      background-image: url('../../images/offer/3.png');
      background-repeat: no-repeat;
      left: 8px;
    }
  }

  &__item:nth-child(4) {
   
    &::before {
      background-image: url('../../images/offer/4.png');
      background-repeat: no-repeat;
    }
  }

  &__item:nth-child(5) {
    
    &::before {
      background-image: url('../../images/offer/5.png');
      background-repeat: no-repeat;
    }
  }

  &__item:last-child {
    
    &::before {
      background-image: url('../../images/offer/6.png');
      background-repeat: no-repeat;
      left: 8px;
    }

    @include maxw($md) {
      margin: 0;
    }
  }

  &__item-title {
    font-size: 18px;
    font-weight: 400;
    color: #394B50;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    @include line-climp(2);

    @include maxw($xs) {
      font-size: 16px;
    }
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.5;
    color: #7B7B7B;
    @include line-climp(8);
  }
} 