.animation-link {
  transition: border-color 0.3s, color 0.3s;

  &:focus {
    border: 1px solid $blue;
    color: $orange;
  }

  &:hover {
    color: $orange;
  }

  &:active {
    border: 1px solid $blue;
  }
}