.animation-btn {
  transition: background-color 0.3s, background-image 0.3s, color 0.3s, opacity 0.3s, border 0.3s;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid $blue;
    background-color: rgb(255,193,84);
  }

  &:hover {
    background-color: rgb(214, 161, 69);
  }

  &:active {
    opacity: 0.7;
  }
}
 
.animation-btn__reverse {
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, border 0.3s;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid rgb(15, 91, 126);;
  }

  &:hover {
    background: rgb(84, 147, 177);
    border: 1px solid rgb(15, 91, 126);
  }

  &:active {
    opacity: 0.7;
  }
}